*{
  margin: 0 auto;
  padding: 0;
}
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-style: normal;
  
}
body{
  width: 1170px;
  background-color: #F1F1F3;
}
/* nav style */
.navbar{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start; 
}

.signinbtn{
  padding: 5px 15px;
  color: #006A50;
  border: 1px solid #006A50;
  border-radius: 7px;
  font-weight: 17;
}
/* banner style */
.banner{
  
  background-color: #C6E4D6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 440px;
}
.leftside-banner {
  width: 622px;
  height: 326px;
  padding: 70px 45px;
  
}
.leftside-banner .paragraph{ 
  font-weight: bold;
  font-weight: 600;
}
.leftside-banner .text{
  padding: 10px 0;
  font-size: 53px;
  
}
.explore-btn{
  padding: 9px 19px;
  background-color: #006A50;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.img{
 height: 350px; 

}
.banner-image{
  padding: 25px;
}

/* main style */
section > h1{
  padding: 80px 0 30px 0;
  font-size: 40px;
  
}

.card-img{
  width: 65px; 
}
.box{
  padding: 15px;
  border: 2px solid #D5D6D8;
  border-radius: 15px;
  width: 250px;
  background-color: white;
  margin: 0;

}
.text-container h2{
  padding: 20px 0 15px 0;
  
}

.paragraph{
  color: #747474;
}

.text-container p{
  
 font-size: 15px;
}
.box-container{
  display: flex;
  justify-content: space-between;
  
}

.text-box-2{
  padding-top: 40px;
}
.text-box-2 h1{
  padding-bottom: 20px;
  
}
.text-box-2 p{
  padding-bottom: 20px;
}
.box-container-2{
  display: flex;
  justify-content: space-between;

}

.learn-more-btn1{
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #5490F5;
  color: #ffffff;
}
.coloring-btn {
  padding: 20px 0;
 
}
.learn-more-btn2{
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #09A15C;
  color: #ffffff;
} 
.learn-more-btn3{
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #FFC239;
  color: #ffffff;
}
 
.box-5{
  background-color: #D5E1F5;
  width: 350px;
  border: none;
  padding: 15px;
  border-radius: 15px;
}
.box-6{
  background-color: #C6E4D6;
  width: 350px;
  border: none;
  padding: 15px;
  border-radius: 15px;
}
.box-7{
  background-color: #F7EBCF;
  width: 350px;
  border: none;
  padding: 15px;
  border-radius: 15px;
}
.box-holder{
  padding: 20px 0 40px 0;
  margin: 0;
}

.quote{
  border-radius: 15px;
  border: 2px solid #D5D6D8;
  padding: 20px;
  height: 150px;
  
}


.quote-holder .paragraph{
  background-image: url("assets/quote-bg.png");
  background-repeat: no-repeat;
  padding-top: 25px;
  
  color: #0e0e0eb7;
}

.quote-holder h3{
  padding-top: 18px;
  padding-bottom: 7px;
}.quote-holder p{
  color: #747474;
}




